.tabletable{
    text-align: center;
    width:100%;
    border: solid;
    border-width: 1px;
    border-color: #b7b7b7;
    padding-bottom: 50px;
}
.tablehead{
    border: solid;
    border-width: 1px;
    border-color: #b7b7b7;
    padding: 2px;
    background-color: #d6d6d6;
    font-size: 11px;
}
.tablecell{
    border: solid;
    border-width: 1px;
    border-color: #b7b7b7;
    padding: 2px;
    background-color: #ffffff;
    font-size: 9px;
}
.tablecell:hover{
    border: solid;
    border-width: 2px;
    border-color: #3695e1;
    padding: 2px;
}
.coolscrollbar{
    height: 100%;
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;

    /*overflow: auto;*/
    wrap:virtual;
}

.titlediv{
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-bottom-color: #00000070;
    border-bottom-width: 1px;
    border-bottom-style: inset;
}
.titlediv label{
    font-style: normal;
}
.contentdiv{
    margin: 2px;
    margin-left: 30px;
    padding: 2px;

}
.contentdiv label{
    font-style: normal;
    font-weight: lighter;
    color: #8e8f8f;
}
.textinput{
    vertical-align: middle;
    height: 30px;
    width: 100px;
    border-style: none;
    font-size: 9px;
    background-color: #d8dadb;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: #8e8f8f;
}
.numberinput{
    vertical-align: middle;
    height: 30px;
    width: 50px;
    border-style: inherit;
/*    font-size: 16px;*/
    background-color: #d8dadb;
    border-radius: 2px;
    text-align: center;
    color: #8e8f8f;
}
.buttoninput{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    font-size: 9px;
}
.buttoninputfocus{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
    background-color: #cdcdcd;
    border-radius: 2px;
    font-size: 9px;
}
/*.buttoninput:focus{   !*active点击状态  hover鼠标经过  focus聚焦状态*!
    outline: none;
    background-color: #cdcdcd;
}*/
.selectinput{
    vertical-align: middle;
    height: 30px;
    width: 100px;
    background-size: cover;
    background-color: transparent;
    border-radius: 2px;
}
.colorinut{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
}
.colorinut:focus{
    outline: none;
}
.checkinput{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border: none;
}
.contentdiv lable{
    vertical-align: middle;
}
















